
.invoice-head{
    background: #08348c;
    /* border-style: solid; */
    border-width: 3px;
    padding: 8px;
    border-radius: 46px;
    color: #f8f9fa;
}

.invoice-arabic-text{
    float: right;
}




.inv-right-border{
    border-right: solid 3px #08348c;
}

.inv-last-table{
    border-bottom: solid 5px #08348c;
}


.invoice-table-head{
    background: #08348c; 
    border-radius: 46px;
    color: #f8f9fa;
    border: none;
}

.invoice-table-head tr{
    border-style: hidden;
}

.arabic-head th:first-child{
    border-radius:20px 0 0 0px;
  }
  
.arabic-head th:last-child{
    border-radius:0 20px 0px 0;
  }

.english-head th:first-child{
    border-radius:0px 0 0 20px;
  }

.english-head th:last-child{
    border-radius:0px 0 20px 0;
  }
  


  thead tr{
    text-align: center;
  }